* {
    box-sizing: border-box;
  }
  
  body {
    margin-left: 3px;
    margin-right: 3px;
    line-height: 1.5;
  }

  #hsLink {
    float: left;
  }

  #timerText {
    float: right;
  }

  .btn{
    margin:2px;
  }

  .card-title{
    font-weight: bolder;
  }

  .card{
      border-color: white;
  }

  #initials{
    margin-bottom:10px;
  }
